html {
  height: 100%;
  width: 100%;
  background: linear-gradient(lightgrey, whitesmoke);
  font-family: 'Dosis', sans-serif;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.header {
  font-size: 35pt;
  padding: 0 0 1rem 0;
}
